.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3D3D3D;
    margin: 10px;
    border-radius: 10px;
    height: 8rem;
    padding: 1.5rem;
    align-self: center;
    text-align: left;
    width: 43%;
}