.footer{
    background-color: #26272B;
    color: #f3f3f3;
    padding: 20px 150px;
}

.footer-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-top: 30px;
}